* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Source Code Pro', sans-serif;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0px 20px;
  height: 100%;
}

nav {
  background-color: #eee;
  width: 100%;
  max-width: 430px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px 0px;
  background: #eee;
  transition: background 0.5s;
  user-select: none;
}

nav > a:hover {
  background: #fff;
  user-select: none;
}

nav > a {
  text-decoration: none;
  color: #555;
  user-select: none;
}

nav > a:visited {
  color: #555;
}

nav > a:hover {
  color: #555;
}

a.active {
  background: #fff;
}

footer {
  color: #999;
  font-size: 12px;
  text-align: center;
  flex: 0 0 auto;
  margin: 10px 0 20px 0;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    margin-bottom: 20px;
    animation: fade-in 1s ease-in forwards;
}

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
}

.content {
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
}

.social-media-bar {
  margin: 10px;
}

.social-media-icon {
    opacity: 0.5;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    image-rendering: -webkit-optimize-contrast;
    transition: opacity 0.5s;
    cursor: pointer;
}

.social-media-icon:hover {
    opacity: 0.7;
}

.twitter {
    background-image: url("/twitter.png");
}

.instagram {
    background-image: url("/instagram.png");
}

.facebook {
    background-image: url("/facebook.png");
}

.soundcloud {
    background-image: url("/soundcloud.png");
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.content-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fade-enter {
    opacity: 0;
    height: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    height: inherit;
    transition: opacity 1s, height 1s;
}

.fade-enter-done {
    height: inherit;
}

.fade-exit {
    opacity: 1;
    height: inherit;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    height: 0;
    transition: opacity 1s, height 1s;
}

.fade-exit-done {
    height: 0;
}


.content-container.home {
    height: 0;
}

@media (max-width: 950px) {
    .fade-enter-done.artists {
        height: fit-content;
    }
    .fade-enter-done.artist {
        height: fit-content;
    }

}

.content.about {
    height: auto;
}

.artist.fade-enter {
    opacity: 0;
    height: 0;
}

.artist.fade-enter.fade-enter-active {
    opacity: 1;
    height: fit-content;
    transition: opacity 1s, height 1s;
}

.artist.fade-enter-done {
    height: fit-content;
}

.auto.fade-exit {
    opacity: 1;
    height: auto;
}

.auto.fade-exit.fade-exit-active {
    opacity: 0;
    height: 0;
    transition: opacity 1s, height 1s;
}

.fade-exit-done {
    height: 0;
}
