.artist-name {
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0, 0.5);
  width: 140px;
  height: 45px;
  bottom: 0;
  transition: opacity 300ms, height 300ms;
  letter-spacing: 1px;
}

.artist-name.hover {
    opacity: 0;
    height: 0;
}

.artist-name-animate {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 300ms;
}

.artist-name-animate.hover {
    transform: scale(0.95);
}

.content.artists {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 30px;
}

.artist-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.artist-box-animate {
    display: flex;
    width: 100%;
    height: 100%;
}

.artist-box.akeos {
  animation: fade-in 1000ms ease-in 0ms forwards;
}
.artist-img.akeos {
  background-image: url("/artist-image-akeos.jpg");
}

.artist-box.neonix {
  animation: fade-in 1000ms ease-in 400ms forwards;
}

.artist-img.neonix {
  background-image: url("/artist-image-neonix.jpg");
}

.artist-box.syzy {
  animation: fade-in 1000ms ease-in 1200ms forwards;
}

.artist-img.syzy {
  background-image: url("/artist-image-syzy.jpg");
}

.artist-box.rattrix {
  animation: fade-in 1000ms ease-in 800ms forwards;
}

.artist-img.rattrix {
  background-image: url("/artist-image-rattrix.jpg");
}

.artist-box.trollphace {
  animation: fade-in 1000ms ease-in 1600ms forwards;
}

.artist-img.trollphace {
  background-image: url("/artist-image-trollphace.jpg");
}

.artist-img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms, opacity 1000ms;
}

a.artist-img-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 300ms, opacity 1000ms;
  opacity: 0;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}

a.artist-img-link.akeos {
  background-image: url("/akeos-logo.png");
  background-size: 80%;
}

a.artist-img-link.neonix {
  background-image: url("/neonix-logo.png");
  background-size: 70%;
}

a.artist-img-link.rattrix {
  background-image: url("/rattrix-logo.png");
  background-size: 65%;
}

a.artist-img-link.syzy {
  background-image: url("/syzy-logo.png");
  background-size: 60%;
}

a.artist-img-link.trollphace {
  background-image: url("/trollphace-logo.png");
  background-size: 80%;
}

@media (max-width: 1790px) {
  .content.artist { grid-template-columns: 35% 35%; }
}

@media (max-width: 1252px) {
  .content.artists { grid-template-columns: 100%; }
}

.content.artist-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.artist-page-main-contain {
  display: grid;
  width: 100%;
  grid-template-columns: 480px 40px 33.3%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.artist-page-img-contain {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.artist-page-img {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.artist-page-img > video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
  left: -50%;
}

.hr {
  width: 1px;
  height: 400px;
  background-color: #aaa;
  justify-self: left;
}

.artist-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.artist-info-music {
  width: 100%;
}

.spotify-artist-social:hover {
  fill: #1db954;
}

.soundcloud-artist-social:hover {
  fill: #fe5000;
}

.instagram-path {
  fill: url("#instagram");
}

.instagram-path-colored {
  fill: url("#instagram-color");
}

.instagram-path-hover {
  z-index: 1;
  transition: z-index 0s;
}

.instagram-path-hover {
  z-index: -5;
}

.instagram-path-hover ~ .instagram-path {
  transition: opacity 0.5s;
}

.instagram-path-hover:hover ~ .instagram-path {
  z-index: 1;
  opacity: 0;
}

.twitter-artist-social:hover {
  fill: #1da1f2;
}

.facebook-artist-social:hover {
  fill: #3b5998;
}

.artist-social {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
  fill: #777;
  transition: fill 0.5s;
}

.artist-info-socials {
  height: 100px;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  place-content: space-between;
}

.artist-header {
  text-align: center;
  font-size: 150%;
  padding-bottom:20px;
}

.hidden {
  display: none;
}

.logo {
    width: 40%;
    margin-bottom: 20px;
}

@media (min-width: 950px) {
    .artist-img.hover { transform: scale(0.95); opacity: 0.75; }
}

.artist-img.hover { opacity: 0.75; }
a.artist-img-link.hover { transform: scale(0.85); opacity: 0.78; }

.artist-name.page {
  background: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  filter: invert(1);
  background-position: center;
}

.artist-name.page.akeos {
    background-image: url("/akeos-logo.png");
    background-size: 80%;
}

.artist-name.page.neonix {
    background-image: url("/neonix-logo.png");
    background-size: 80%;
}

.artist-name.page.rattrix {
    background-image: url("/rattrix-logo.png");
    background-size: 80%;
}

.artist-name.page.syzy {
    background-image: url("/syzy-logo.png");
    background-size: 80%;
}

.artist-name.page.trollphace {
    background-image: url("/trollphace-logo.png");
    background-size: 80%;
}

.artist-media-credit {
    display: flex; 
    font-weight: 600;
    bottom: 0;
    right: 0;
    letter-spacing: 1px;
    font-size: 10px;
    color: #bbb;
    padding: 2px 0px;
}

.photographer {
    position: absolute;
    right: 0;
}

.location {
    position: absolute;
    left: 0;
}

.photographer.akeos:after {
    content: "Taken by @shloaded, 2020";
}

.location.akeos:after {
    content: "Los Angelas";
}

.photographer.neonix:after {
    content: "Taken by @khangarooo, 2020";
}

.location.neonix:after {
    content: "San Jose";
}

.photographer.syzy:after {
    content: "Taken by @spawnzone, 2020";
}

.location.syzy:after {
    content: "Los Angelas";
}

.photographer.rattrix:after {
    content: "Taken by @bananacamphoto, 2020";
}

.location.rattrix:after {
    content: "Vancouver";
}

@media (max-width: 950px) {
  .artist-social { width: 60px; height: 60px }
  .artist-page-main-contain { grid-template-columns: 100%; row-gap: 30px; }
  .hr { width: 100%; height: 1px; margin: 0 auto; }
  .hidden { display: block; }
  .artist-info { display: grid; row-gap: 30px; }
  .artist-page-img { width: 100%; }
  .artist-info-socials { height: auto; }
  a.artist-img-link.akeos { background-position: center; }
  a.artist-img-link.neonix { background-position: center; }
  a.artist-img-link.syzy { background-position: center; }
  a.artist-img-link.ratrix { background-position: center; }
  a.artist-img-link.trollphace { background-position: center; }
  .artist-name { opacity: 0; height: 0; transition: opacity 300ms, height 300ms; }
  .artist-name.hover { opacity: 1; height: 45px; }
  .artist-name-animate { transition: none; }
  .artist-name-animate.hover { transform: scale(1); }
  .logo { width: 100% }
}
